* {
  text-align: center;
}

.App {
  text-align: center;
}

.Signup {
  text-align: center;
}

.HomePage {
  text-align: center;
}

  .hp-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .column-1 {
    padding: 2em;
    text-align: center;
  }

  .column-2 {
    padding: 2em;
  }

  .column-3 {
    padding: 2em;
  }

.ItemGet {
  text-align: center;
}

.JobForm {
  text-align: center;  
}

a {
  padding: 5%
}

#item-cart {
  align-items: center;
}

li.cart-item {
  display: inline;
  align-items: center;
  margin-left: -40px;
  max-width: 10%;
  font-size: larger;
}

.Footer{
  margin-top: 200px;
}

.JobPage {
  text-align: center;
}

.error {
  color: red;
  margin-top: 0px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
