* {
  cursor: url('../image/cursor.png'), auto;
}

.Button {
  cursor: url('../image/cursor.png'), auto;

}

.App {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #dcdcdd 74%);
  /* background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
}

html, .cursor {
  cursor: url('../image/cursor.png'), auto;
  user-select: url('../image/cursor.png'), auto;
  pointer-events: url('../image/cursor.png'), auto;
  /* user-select: none; */
}


.JobPage {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #dcdcdd 74%);
}

.JobForm {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #dcdcdd 74%);
}

.ItemCreate {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #dcdcdd 74%);
}

.ItemGet {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #dcdcdd 74%);
}

.Footer, .Header, .HomePage, .ItemGet, .JobForm, .JobPage, .Signup {
  text-align: center;
  color: #1d2424;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 90%;
  max-height: 90vh;
  margin: auto
}

.qr-scanner {
  text-align: center;
}

  .hp-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .column-1 {
    padding: 2em;
    text-align: center;
  }

  .column-2 {
    padding: 2em;
  }

  .column-3 {
    padding: 2em;
  }

.ItemGet {
  text-align: center;
}

.JobForm {
  text-align: center;  
}

a {
  padding: 5%
}

#item-cart {
  align-items: center;
}

li.cart-item {
  display: inline;
  align-items: center;
  margin-left: -40px;
  max-width: 10%;
  font-size: larger;
}

.Footer{
  margin-top: 200px;
}


.selection-made {
  color: #3d6a66
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 0px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
