/* Pallette: 
#d0c3bd beige
#dcdcdd gray
#69849b spruce
#3d6a66 seawater 
#1d2424 deep green */

* {
  cursor: url('../image/cursor.png'), auto;
}

a:hover {
  cursor:  url('../image/pointer.png'), auto;
}

.Button {
  cursor: url('../image/cursor.png'), auto;
}

.App {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
  border: #1d241d;
  min-height: 100%
}

.Signup {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
  min-height: 100%
}

.Header {
  min-height: 20vh;
}

html::-webkit-scrollbar {
  display: none;
}

#top-to-footer::-webkit-scrollbar {
  display: none;
}

#top-to-footer {
  height: 84vh;
  overflow-y: scroll;
}

#banner {
  background-color: #d0c3bd;
  border-top: 1px solid;
}

#the-footer {
  background-color: #d0c3bd;
  height: 15vh;
  border-top: 1px solid;
  padding-top: 0.5em;
}

.Footer p {
  margin-top: 1%;
  font-style: italic;
  font-size: large;
}

.Footer a {
  padding: 1em;
  padding-bottom: 2em;
}

html, .cursor {
  cursor: url('../image/cursor.png'), auto;
  user-select: url('../image/cursor.png'), auto;
  pointer-events: url('../image/cursor.png'), auto;
  /* user-select: none; */
}


.JobPage {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.JobForm {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.ItemCreate {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.ItemGet {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.ItemInventory {
  text-align: center;
  color: #1d2424;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.Footer, .Header, .HomePage, .ItemGet, .JobForm, .JobPage, .Signup, .ItemInventory {
  text-align: center;
  color: #1d2424;
}

nav {
  width: 100%;
}

.active-job {
  padding: 1em
}

.imgbox {
  display: grid;
  height: 100%;
  margin-bottom: 0.5em;
}

.center-fit {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
  margin-top: 5%;
}

.qr-scanner {
  text-align: center;
}

.sticker-container {
  text-align: center;
  border: grey solid 1px;
  padding: 0.5rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 1rem;
}

.sticker-container div {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 90%
}

.hp-columns {
  display: grid;
  grid-template-columns: 50% 50%;
}
  .column-1 {
    padding: 2em;
    text-align: center;
  }
  .column-2 {
    padding: 2em;
    align-items: center;
  }

  /* .column-3 {
    padding: 2em;
  } */

.ItemGet {
  text-align: center;
}

.JobForm {
  text-align: center;  
}

.grid-holder {
  background-image: linear-gradient(315deg, #ffffff 0%, #d0c3bd 100%);
}

.Header a {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  width: 10em
}

#item-cart {
  align-items: center;
}

li.cart-item {
  display: inline;
  align-items: center;
  margin-left: -40px;
  max-width: 10%;
  font-size: larger;
}

.selection-made {
  color: #3d6a66;
  font-weight: bold;
}

.error {
  color: firebrick;
  font-weight: bold;
  margin-top: 0px;
}



/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
