/* Pallette: 
#d0c3bd beige
#dcdcdd gray
#69849b spruce
#3d6a66 seawater 
#1d2424 deep green */

* {
  cursor: url('../image/cursor.png'), auto;
}

a:hover {
  cursor:  url('../image/pointer.png'), auto;
}

.Button {
  cursor: url('../image/cursor.png'), auto;
}

.app, .itemInventory, .itemCreate, .jobForm, .itemGet, .jobPage, .signup {
  text-align: center;
  color: #1d2424;
  background-color: #69849b;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
  min-height: 100%
}

.header {
  min-height: 20vh;
  background-color: #d0c3bd;
  border-bottom: solid 1px #1d2424;
  padding-bottom: 0.5em;
}

html::-webkit-scrollbar {
  display: none;
}

#top-to-footer::-webkit-scrollbar {
  display: none;
}

#top-to-footer {
  height: 85vh;
  overflow-y: scroll;
}

#the-footer {
  background-color: #d0c3bd;
  height: 15vh;
  border-top: 1px solid;
  padding-top: 0.5em;
}

.footer p {
  margin-top: 1%;
  font-style: italic;
  font-size: large;
}

.footer a {
  padding: 1em;
  padding-bottom: 2em;
}

input {
  font-size: large;
  margin-bottom: 0.25em;
}

html, .cursor {
  cursor: url('../image/cursor.png'), auto;
  user-select: url('../image/cursor.png'), auto;
  pointer-events: url('../image/cursor.png'), auto;
}

nav {
  width: 100%;
}

.active-job {
  padding: 1em
}

.imgbox {
  display: grid;
  height: 100%;
  margin-bottom: 0.5em;
}

.center-fit {
  max-width: 30%;
  max-height: 90vh;
  margin: auto;
  margin-top: 2%;
}

.sticker-img {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
  margin-top: 2%;
}

#submit-button {
  margin-bottom: 0.5em;
}

.sticker-container {
  text-align: center;
  border: grey solid 1px;
  padding: 0.5rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 1rem;
}

.sticker-container div {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 90%
}

.hp-columns {
  display: grid;
  grid-template-columns: 50% 50%;
}
  .column-1 {
    padding: 2em;
    text-align: center;
  }

  .column-2 {
    padding: 2em;
    align-items: center;
  }

.JobForm {
  text-align: center;  
}

.grid-holder {
  background-image: linear-gradient(315deg, #ffffff 0%, #d0c3bd 100%);
}

.header a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 10em
}

#item-cart {
  align-items: center;
}

li.cart-item {
  display: inline;
  align-items: center;
  margin-left: -40px;
  max-width: 10%;
  font-size: larger;
}

.selection-made {
  color: #3d6a66;
  font-weight: bold;
}

.error {
  color: firebrick;
  font-weight: bold;
  margin-top: 0.5em;
}

#load-page {
  display: grid;
  height: 100vh;
  background-image: linear-gradient(315deg, #69849b 0%, #dcdcdd 74%);
}

.load-logo {
  max-width: 85%;
  margin: auto;
  animation-delay: 0.2s;
  animation: fade-in 1 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}